
<app-avatar></app-avatar>
<ion-toolbar color="fondo">
  <ion-title slot="start" color ="tittle" text-uppercase className="ion-text-center">Contactos Auxiliantes</ion-title>
  <ion-button (click)="goToRegisterAux()" color="mayonesa" shape="round" fill="outline"><ion-icon name="person-add-outline"></ion-icon></ion-button>
</ion-toolbar>
<ion-content color="fondo">

  <ion-list color="fondo">
      <ion-item-sliding> 
          <ion-item (click)="eliminarAuxiliante(index)" *ngFor="let auxiliante of auxiliantes; index as index">
              <ion-label><h1>{{auxiliante.nombre | titlecase}}</h1></ion-label>
              <ion-label style="color: red;left:90%">Eliminar</ion-label>
          </ion-item>
      </ion-item-sliding> 
  </ion-list>
</ion-content>