<ion-content>
  <div class="fluid-container" vh-100>
    <app-avatar></app-avatar>
    <ion-card>
      <ion-card-header>
        <ion-toolbar>
          <ion-card-title>Señales</ion-card-title>
        </ion-toolbar>
      </ion-card-header>
      <ion-slides>
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-12 estilo">
                    <div>
                      <h6>Spo2</h6>
                    </div>
                    <canvas id="spo2" width="400" height="400">{{chartSpO2}}</canvas>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-12 estilo">
                    <div>
                      <h6>Pulso</h6>
                    </div>
                    <canvas id="pulso" width="400" height="400">{{chartPulso}}</canvas>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card>
            <ion-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-12 estilo">
                    <div>
                      <h6>Gsr</h6>
                    </div>
                    <canvas id="gsr" width="400" height="400">{{chartGsr}}</canvas>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
    <ion-card>

    <ion-card>
      <ion-header>
        <ion-title>
          <ion-card-title color="primary">Nivel de Estrés: </ion-card-title>
        </ion-title>
      </ion-header>
      <ion-card-content>
        <div class="container">
            <h1>{{status}}</h1>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="!transmitting" (click)="listenSignals()" color="secondary" expand="block" shape="round"><ion-text color="dark">Comenzar</ion-text></ion-button>
    <ion-button *ngIf="transmitting" (click)="stopSignals()" color="danger" expand="block" shape="round"><ion-text color="dark">Detener</ion-text></ion-button>
  <div>
<ion-content>





<!--


<ion-content>
  <div class="fluid-container" vh-100>
    <app-avatar></app-avatar>
    <ion-card>
      <ion-card-header>
        <ion-toolbar>
          <ion-card-title>Señales</ion-card-title>
        </ion-toolbar>
      </ion-card-header>

      <ion-card-content>
        <div class="container">
          <div class="row">
            <div class="col-12 estilo">
              <div>
                <h6>Spo2</h6>
              </div>
              <canvas id="spo2" width="400" height="400">{{chartSpO2}}</canvas>
            </div>
            <div class="col-12 estilo" style="margin-top: 5%;">
              <div>
                <h6>Pulso</h6>
              </div>
              <canvas id="pulso" width="400" height="400">{{chartPulso}}</canvas>
            </div>
            <div class="col-12 estilo" style="margin-top: 5%;">
              <div>
                <h6>Gsr</h6>
              </div>
              <canvas id="gsr" width="400" height="400">{{chartGsr}}</canvas>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-header>
        <ion-title>
          <ion-card-title>Estrés</ion-card-title>
        </ion-title>
      </ion-header>
      <ion-card-content>
        <div class="container">
            <h1>{{status}}</h1>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button *ngIf="!transmitting" (click)="listenSignals()" color="secondary" expand="block" shape="round"><ion-text color="dark">Comenzar</ion-text></ion-button>
    <ion-button *ngIf="transmitting" (click)="stopSignals()" color="danger" expand="block" shape="round"><ion-text color="dark">Detener</ion-text></ion-button>

  </div>
</ion-content> -->
