

.estilo{
    border-width: 1px;
    border-color:#8CDCEC;
    border-style: solid;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
