<ion-header style="background-color: black;">
  <ion-toolbar>
    <ion-title className="ion-text-center">Auxiliante</ion-title>
    <ion-button color="dark" shape="round" fill="outline" slot="start" (click)="goToAuxilian()"><ion-icon name="arrow-back-outline" style="padding-left: 5%;"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-button (click)="eliminarAuxiliante()"color="warning" expand="block">Eliminar Auxiliante</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
